# dependencies
/APP/node_modules
/APP/.pnp
/APP/.pnp.js
/APP/.yarn/install-state.gz

# testing
/APP/coverage

# next.js
/APP/.next/
/APP/out/

# production
/APP/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#env files
/APP/.env*

# vercel
/APP/.vercel

# typescript
/APP/*.tsbuildinfo
/APP/next-env.d.ts

local/